.catalog .card-body {
    border-radius: 25px;
    padding: 0;
    padding-bottom: 1rem;
    min-height: 300px;
}

.card-body img {
    object-fit: cover;
    width: auto;
    height: 200px;
    border-radius: 25px 25px 0 0;
}

.card-title {
    padding: 15px 0 0 25px;
}

.card-text {
    padding: 0 25px;
}

.card-buttons {
    padding: 0 25px;
}

.card-buttons .btn {
    margin: 0 auto;
    display: block;
}